<h2>Create an Outfit</h2>

<div>
    {{#if theUser}}
    {{#each items}}
        <img width="250px" src="{{image}}">
        <h3>Name: {{this.itemName}}</h3>
        <h3>Category: {{this.category}}</h3>
        <form action="/{{id}}/updated/{{outfit.id}}" method="post">
            <button>Add Item to Outfit</button>
        </form>
        <form action="{{id}}" method="post">
            <button>Delete</button>
        </form>
        <br>

    {{/each}}
    {{/if}}


</div>

